Repository Kreusada/Kreusada-Cogs, changes with the labels that .github/labeler.yml gives for each.
All labels: Cog: AdvancedUptime, Cog: AlphaNato, Cog: BlackFormatter, Cog: BubbleWrap, Cog: Codify, Cog: CogPaths, Cog: ConsoleClearer, Cog: Dehoister, Cog: Encryptor, Cog: Flags, Cog: GithubSkylines, Cog: Minifier, Cog: Mjolnir, Cog: NameGenerator, Cog: PingInvoke, Cog: PingOverride, Cog: Quotes, Cog: Raffle, Cog: RAM, Cog: RoleBoards, Cog: RPSLS, Cog: SendCards, Cog: SpoilerChannel, Cog: Staff, Cog: Termino, Cog: TextEditor, Cog: TimesTables, Cog: Vinfo, Cog: VoteChannel, Cog: YamlScanner, Category: Meta, docs

pre-commit
  .github/workflows/publish_crowdin.yml
Labels: Category: Meta

[YamlScanner] Remove debugging print statement
  yamlscanner/yamlscanner.py
Labels: Cog: YamlScanner

[RPSLS] v2.0.0 Logic improvements and enhanced UI
  rpsls/__init__.py
  rpsls/rpsls.py
  yamlscanner/yamlscanner.py
Labels: Cog: RPSLS, Cog: YamlScanner

[RPSLS] v2.0.1 Remove unused isinstance check
  rpsls/rpsls.py
Labels: Cog: RPSLS

[Encryptor] v1.1.0 Use `ctx.maybe_send_embed` for password validator
  encryptor/encryptor.py
  encryptor/word_list.py
Labels: Cog: Encryptor

[Encryptor] Pre-commit
  encryptor/encryptor.py
Labels: Cog: Encryptor

[Vinfo] v2.0.5 Improved dev checks
  vinfo/vinfo.py
Labels: Cog: Vinfo

[Staff] v1.5.4 Use Discord timestamps
  staff/staff.py
Labels: Cog: Staff

[Staff] v1.5.5 Improve config usage
  staff/staff.py
Labels: Cog: Staff

[Staff] Pre-commit reformat
  staff/staff.py
Labels: Cog: Staff

[RPSLS] v2.1.0 Fix incorrect responses
  rpsls/rpsls.py
Labels: Cog: RPSLS

[Cogs.csv] Initial commit
  cogs.csv
Labels: Category: Meta

Fix formatting errors
  cogs.csv
Labels: Category: Meta

Fix formatting errors
  cogs.csv
Labels: Category: Meta

Remove available cogs list for CSV
  README.rst
  docs/repo_available_cogs_list.rst
Labels: Category: Meta, docs

Pre-commit reformat
  cogs.csv
  docs/repo_available_cogs_list.rst
Labels: Category: Meta, docs

[Cogs.CSV] will => with
  cogs.csv
Labels: Category: Meta

fix deletion of msg
  raffle/commands/builder.py
Labels: none

pre commit
  cogs.csv
Labels: Category: Meta

[Cogs.CSV] Grammar fixes :D (#154)
  cogs.csv
Labels: Category: Meta

[Raffle] Fix errors when deleting instruction message (#155)
  raffle/commands/builder.py
Labels: none

[AdvancedUptime] v3.0.0 Ping/shard stats and customizable fields, caching
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[AdvancedUptime] v.3.1.0 Add toggle for usage + fixes
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

pre-commit reformat
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[AlphaNato] v1.1.1 Limit dev env value to Kreusada
  alphanato/alphanato.py
Labels: Cog: AlphaNato

.github/labeler.yml:

"Cog: AdvancedUptime":
  - advanceduptime/*
  - docs/cog_advanceduptime.rst
  - docs/_deprecated/changelog_advanceduptime.rst
"Cog: AlphaNato":
  - alphanato/*
  - docs/cog_alphanato.rst
  - docs/_deprecated/changelog_alphanato.rst
"Cog: BlackFormatter":
  - blackformatter/*
  - docs/cog_blackformatter.rst
"Cog: BubbleWrap":
  - bubblewrap/*
  - docs/cog_bubblewrap.rst
  - docs/_deprecated/changelog_bubblewrap.rst
"Cog: Codify":
  - codify/*
  - docs/cog_codify.rst
  - docs/_deprecated/changelog_codify.rst
"Cog: CogPaths":
  - cogpaths/*
  - docs/cog_cogpaths.rst
"Cog: ConsoleClearer":
  - consoleclearer/*
  - docs/cog_consoleclearer.rst
  - docs/_deprecated/changelog_consoleclearer.rst
"Cog: Dehoister":
  - dehoister/*
  - docs/cog_dehoister.rst
  - docs/_deprecated/changelog_dehoister.rst
"Cog: Encryptor":
  - encryptor/*
  - docs/cog_encryptor.rst
"Cog: Flags":
  - flags/*
  - docs/cog_flags.rst
"Cog: GithubSkylines":
  - githubskylines/*
  - docs/cog_githubskylines.rst
  - docs/_deprecated/changelog_githubskylines.rst
"Cog: Minifier":
  - minifier/*
  - docs/cog_minifier.rst
  - docs/_deprecated/changelog_minifier.rst
"Cog: Mjolnir":
  - mjolnir/*
  - docs/cog_mjolnir.rst
  - docs/_deprecated/changelog_mjolnir.rst
"Cog: NameGenerator":
  - namegenerator/*
  - docs/cog_namegenerator.rst
  - docs/_deprecated/changelog_namegenerator.rst
"Cog: PingInvoke":
  - pinginvoke/*
  - docs/cog_pinginvoke.rst
  - docs/_deprecated/changelog_pinginvoke.rst
"Cog: PingOverride":
  - pingoverride/*
  - docs/cog_pingoverride.rst
  - docs/_deprecated/changelog_pingoverride.rst
"Cog: Quotes":
  - quotes/*
  - docs/cog_quotes.rst
  - docs/_deprecated/changelog_quotes.rst
"Cog: Raffle":
  - raffle/*
  - docs/cog_raffle.rst
"Cog: RAM":
  - ram/*
  - docs/cog_ram.rst
  - docs/_deprecated/changelog_ram.rst
"Cog: RoleBoards":
  - roleboards/*
  - docs/cog_roleboards.rst
  - docs/_deprecated/changelog_roleboards.rst
"Cog: RPSLS":
  - rpsls/*
  - docs/cog_rpsls.rst
  - docs/_deprecated/changelog_rpsls.rst
"Cog: SendCards":
  - sendcards/*
  - docs/cog_sendcards.rst
  - docs/_deprecated/changelog_sendcards.rst
"Cog: SpoilerChannel":
  - spoilerchannel/*
  - docs/cog_spoilerchannel.rst
  - docs/_deprecated/changelog_spoilerchannel.rst
"Cog: Staff":
  - staff/*
  - docs/cog_staff.rst
  - docs/_deprecated/changelog_staff.rst
"Cog: Termino":
  - termino/*
  - docs/cog_termino.rst
  - docs/_deprecated/changelog_termino.rst
"Cog: TextEditor":
  - texteditor/*
  - docs/cog_texteditor.rst
  - docs/_deprecated/changelog_textmanipulator.rst
"Cog: TimesTables":
  - timestables/*
  - docs/cog_timestables.rst
  - docs/_deprecated/changelog_timestables.rst
"Cog: Vinfo":
  - vinfo/*
  - docs/cog_vinfo.rst
  - docs/_deprecated/changelog_vinfo.rst
"Cog: VoteChannel":
  - votechannel/*
  - docs/cog_votechannel.rst
  - docs/_deprecated/changelog_votechannel.rst
"Cog: YamlScanner":
  - yamlscanner/*
  - docs/cog_yamlscanner.rst
"Category: Meta":
  - .github/*
  - .github/*/*
  - ./*
"docs":
  - docs/**/*
