Repository Kreusada/Kreusada-Cogs, changes with the labels that .github/labeler.yml gives for each.
All labels: Cog: AdvancedUptime, Cog: AlphaNato, Cog: BlackFormatter, Cog: BubbleWrap, Cog: Codify, Cog: CogPaths, Cog: ConsoleClearer, Cog: Dehoister, Cog: Encryptor, Cog: Flags, Cog: GithubSkylines, Cog: Minifier, Cog: Mjolnir, Cog: NameGenerator, Cog: PingInvoke, Cog: PingOverride, Cog: Quotes, Cog: Raffle, Cog: RAM, Cog: RoleBoards, Cog: RPSLS, Cog: SendCards, Cog: SpoilerChannel, Cog: Staff, Cog: Termino, Cog: TextEditor, Cog: TimesTables, Cog: Vinfo, Cog: VoteChannel, Cog: YamlScanner, Category: Meta, docs

.github/labeler.yml:

"Cog: AdvancedUptime":
  - advanceduptime/*
  - docs/cog_advanceduptime.rst
  - docs/_deprecated/changelog_advanceduptime.rst
"Cog: AlphaNato":
  - alphanato/*
  - docs/cog_alphanato.rst
  - docs/_deprecated/changelog_alphanato.rst
"Cog: BlackFormatter":
  - blackformatter/*
  - docs/cog_blackformatter.rst
"Cog: BubbleWrap":
  - bubblewrap/*
  - docs/cog_bubblewrap.rst
  - docs/_deprecated/changelog_bubblewrap.rst
"Cog: Codify":
  - codify/*
  - docs/cog_codify.rst
  - docs/_deprecated/changelog_codify.rst
"Cog: CogPaths":
  - cogpaths/*
  - docs/cog_cogpaths.rst
"Cog: ConsoleClearer":
  - consoleclearer/*
  - docs/cog_consoleclearer.rst
  - docs/_deprecated/changelog_consoleclearer.rst
"Cog: Dehoister":
  - dehoister/*
  - docs/cog_dehoister.rst
  - docs/_deprecated/changelog_dehoister.rst
"Cog: Encryptor":
  - encryptor/*
  - docs/cog_encryptor.rst
"Cog: Flags":
  - flags/*
  - docs/cog_flags.rst
"Cog: GithubSkylines":
  - githubskylines/*
  - docs/cog_githubskylines.rst
  - docs/_deprecated/changelog_githubskylines.rst
"Cog: Minifier":
  - minifier/*
  - docs/cog_minifier.rst
  - docs/_deprecated/changelog_minifier.rst
"Cog: Mjolnir":
  - mjolnir/*
  - docs/cog_mjolnir.rst
  - docs/_deprecated/changelog_mjolnir.rst
"Cog: NameGenerator":
  - namegenerator/*
  - docs/cog_namegenerator.rst
  - docs/_deprecated/changelog_namegenerator.rst
"Cog: PingInvoke":
  - pinginvoke/*
  - docs/cog_pinginvoke.rst
  - docs/_deprecated/changelog_pinginvoke.rst
"Cog: PingOverride":
  - pingoverride/*
  - docs/cog_pingoverride.rst
  - docs/_deprecated/changelog_pingoverride.rst
"Cog: Quotes":
  - quotes/*
  - docs/cog_quotes.rst
  - docs/_deprecated/changelog_quotes.rst
"Cog: Raffle":
  - raffle/*
  - docs/cog_raffle.rst
"Cog: RAM":
  - ram/*
  - docs/cog_ram.rst
  - docs/_deprecated/changelog_ram.rst
"Cog: RoleBoards":
  - roleboards/*
  - docs/cog_roleboards.rst
  - docs/_deprecated/changelog_roleboards.rst
"Cog: RPSLS":
  - rpsls/*
  - docs/cog_rpsls.rst
  - docs/_deprecated/changelog_rpsls.rst
"Cog: SendCards":
  - sendcards/*
  - docs/cog_sendcards.rst
  - docs/_deprecated/changelog_sendcards.rst
"Cog: SpoilerChannel":
  - spoilerchannel/*
  - docs/cog_spoilerchannel.rst
  - docs/_deprecated/changelog_spoilerchannel.rst
"Cog: Staff":
  - staff/*
  - docs/cog_staff.rst
  - docs/_deprecated/changelog_staff.rst
"Cog: Termino":
  - termino/*
  - docs/cog_termino.rst
  - docs/_deprecated/changelog_termino.rst
"Cog: TextEditor":
  - texteditor/*
  - docs/cog_texteditor.rst
  - docs/_deprecated/changelog_textmanipulator.rst
"Cog: TimesTables":
  - timestables/*
  - docs/cog_timestables.rst
  - docs/_deprecated/changelog_timestables.rst
"Cog: Vinfo":
  - vinfo/*
  - docs/cog_vinfo.rst
  - docs/_deprecated/changelog_vinfo.rst
"Cog: VoteChannel":
  - votechannel/*
  - docs/cog_votechannel.rst
  - docs/_deprecated/changelog_votechannel.rst
"Cog: YamlScanner":
  - yamlscanner/*
  - docs/cog_yamlscanner.rst
"Category: Meta":
  - .github/*
  - .github/*/*
  - ./*
"docs":
  - docs/**/*

reformat
  termino/termino.py
Labels: Cog: Termino

[Meta] Ignore venv and .venv so that doesn't happen again lol
  .gitignore
Labels: Category: Meta

version
  termino/termino.py
Labels: Cog: Termino

reformat
  .gitignore
Labels: Category: Meta

[Termino] V2.0.2 Add reconnect announcements, code cleanup (#144)
  .gitignore
  termino/log.py
  termino/mixins.py
  termino/termino.py
  termino/utils.py
Labels: Cog: Termino, Category: Meta

[TextEditor] v3.0.0 Main Editor class (don't ask why :P)
  texteditor/texteditor.py
Labels: Cog: TextEditor

[Raffle] v1.6.11 Resort enums
  raffle/info.json
  raffle/utils/enums.py
Labels: Cog: Raffle

Pre-commit reformat
  raffle/utils/enums.py
  texteditor/texteditor.py
Labels: Cog: TextEditor

Fill in missed keys
  raffle/utils/enums.py
Labels: none

[Docs] Various improvements to docs build
  docs/_static/literals.css
  docs/conf.py
  docs/image-cog-creators-logo.png
Labels: docs

[Docs] Update home page banner with updated artwork
  docs/conf.py
  docs/image-cog-creators-logo.png
  docs/image_cog-creators-logo.png
Labels: docs

[Docs] Change index artwork
  docs/index.rst
Labels: docs

[Docs] Clear prolog
  docs/prolog.txt
Labels: docs

[AdvancedUptime] Remove useless information from uptime command
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[AdvancedUptime] Backlog: Remove useless information from uptime command
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[AdvancedUptime] v2.0.0 Rewrite with more relevant information
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[Raffle] v1.6.12 Improve cleanup efficiency
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/commands/management/misc.py
  raffle/info.json
  raffle/raffle.py
  raffle/utils/cleanup.py
Labels: Cog: Raffle

reformat
  raffle/commands/management/misc.py
  raffle/raffle.py
Labels: Cog: Raffle

[Meta] Enable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: Category: Meta

[Raffle] v1.6.12 Improve raffle cleanup efficiency (#147)
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/commands/management/misc.py
  raffle/info.json
  raffle/raffle.py
  raffle/utils/cleanup.py
Labels: Cog: Raffle

[ConsoleClearer] Add owner-only checks
  consoleclearer/consoleclearer.py
Labels: Cog: ConsoleClearer

[ConsoleClearer] Add owner-only checks (#148)
  consoleclearer/consoleclearer.py
Labels: Cog: ConsoleClearer

[Raffle] v1.7.0 Improve mixins
  raffle/commands/__init__.py
  raffle/commands/builder.py
  raffle/commands/editor/__init__.py
  raffle/commands/editor/allowed.py
  raffle/commands/editor/badges.py
  raffle/commands/editor/editor.py
  raffle/commands/editor/prevented.py
  raffle/commands/editor/role_requirements.py
  raffle/commands/events.py
  raffle/commands/informational.py
  raffle/commands/management/locales/messages.pot
  raffle/commands/misc.py
  raffle/info.json
  raffle/raffle.py
Labels: Cog: Raffle

[Raffle] v1.6.13 Fix cleanup referencing error
  raffle/info.json
  raffle/utils/cleanup.py
Labels: Cog: Raffle

[Raffle] v1.6.14 Fix version validate operator
  raffle/info.json
  raffle/version_handler.py
Labels: Cog: Raffle

[AdvancedUptime] v2.0.1 Use math.floor() for timedeltas
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

reformat
  raffle/commands/editor/allowed.py
  raffle/commands/editor/role_requirements.py
Labels: none

isort
  raffle/commands/editor/__init__.py
Labels: none

reformat
  raffle/commands/editor/__init__.py
Labels: none

rename
  raffle/commands/editor/__init__.py
  raffle/commands/editor/main.py
Labels: none

[Raffle] v1.7.0 Improve mixin and file structure (#149)
  raffle/commands/__init__.py
  raffle/commands/builder.py
  raffle/commands/editor/__init__.py
  raffle/commands/editor/allowed.py
  raffle/commands/editor/badges.py
  raffle/commands/editor/main.py
  raffle/commands/editor/prevented.py
  raffle/commands/editor/role_requirements.py
  raffle/commands/events.py
  raffle/commands/informational.py
  raffle/commands/management/locales/messages.pot
  raffle/commands/misc.py
  raffle/info.json
  raffle/raffle.py
Labels: Cog: Raffle

[AdvancedUptime] v2.0.2 Add embed author name and icon_url
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[AdvancedUptime] v2.0.3 Update embed field name
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

[TextEditor] v3.0.1 Add "editor multiply" command
  docs/cog_texteditor.rst
  texteditor/README.rst
  texteditor/texteditor.py
Labels: Cog: TextEditor, docs

[AdvancedUptime] Pre-commit reformat
  advanceduptime/uptime.py
Labels: Cog: AdvancedUptime

Create crowdin.yml
  crowdin.yml
Labels: Category: Meta

New translations messages.pot (Romanian)
  raffle/commands/locales/ro-RO.po
Labels: none

New translations messages.pot (Korean)
  raffle/locales/ko-KR.po
Labels: none

New translations messages.pot (Afrikaans)
  raffle/locales/af-ZA.po
Labels: none

New translations messages.pot (Arabic)
  raffle/locales/ar-SA.po
Labels: none
