Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-06, with the labels that each got.

#103 [Termino] Display author name in restarted message
  termino/termino.py
Labels: Cog: Termino

#102 [CogPaths] Initial Cog Revision
  .github/labeler.yml
  README.rst
  cogpaths/README.rst
  cogpaths/__init__.py
  cogpaths/cogpaths.py
  cogpaths/info.json
  docs/cog_cogpaths.rst
  docs/index.rst
  docs/repo_available_cogs_list.rst
Labels: Category: Meta, Cog: CogPaths, Type: Docs

#105 [Meta] Relevant fixes to the repository
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/labeler.yml
  .github/workflows/issue_labeler.yml
  .vscodeignore
Labels: Category: Meta

#106 [Vinfo] Fix when modules have corrupt shared object files
  vinfo/vinfo.py
Labels: Cog: Vinfo, Type: Bug

#96 [Meta] Add Raffle Cog
  .github/labeler.yml
  README.rst
  docs/cog_raffle.rst
  docs/index.rst
  docs/repo_available_cogs_list.rst
  raffle/README.rst
  raffle/__init__.py
  raffle/info.json
  raffle/raffle.py
  raffle/template.yaml
Labels: Accepted, Category: Meta, Pending Changelog Entry, Type: Dev, Type: Docs

#108 [Docs] Remove changelogs, ALL OF THEM!
  CHANGELOG.rst
  docs/index.rst
  docs/repo_changelog.rst
Labels: Type: Deprecation/Removal, Type: Docs

#111 [Dehoister] Avoid using `get_context` inside `on_member_join` listener
  dehoister/dehoister.py
Labels: Cog: Dehoister, bug

#110 [Workflows] Fix outdated labeler workflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
Labels: Category: Meta

#113 [Raffle] v1.1.0 `end_message` can now be randomized, various hotfixes
  docs/cog_raffle.rst
  raffle/README.rst
  raffle/enums.py
  raffle/formatting.py
  raffle/helpers.py
  raffle/parser.py
  raffle/raffle.py
Labels: Cog: Raffle, bug, docs, enhancement

#115 [Meta] Cleanup repo root
  .gitignore
  .vscodeignore
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.rst
  SECURITY.md
Labels: Category: Meta, enhancement

#117 [Raffle] v1.2.7 Rewrite ``[p]raffle info``, add ``created_at`` builtin condition
  raffle/formatting.py
  raffle/helpers.py
  raffle/raffle.py
Labels: Cog: Raffle, enhancement

#118 [Raffle] v1.3.0 Add warnings for outdated cog
  raffle/helpers.py
  raffle/info.json
  raffle/raffle.py
  raffle/versioninfo/version_handler.py
Labels: Cog: Raffle, enhancement

#119 [Raffle] v1.4.0 Use Mixins to split cog into various files
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/commands/management/misc.py
  raffle/helpers.py
  raffle/info.json
  raffle/mixins/abc.py
  raffle/mixins/metaclass.py
  raffle/raffle.py
Labels: Cog: Raffle, enhancement

#122 [Raffle] Add "badges_needed_to_enter" condition
  docs/cog_raffle.rst
  raffle/README.rst
  raffle/checks.py
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/management/events.py
  raffle/enums.py
  raffle/formatting.py
  raffle/helpers.py
  raffle/info.json
  raffle/parser.py
Labels: Cog: Raffle, docs

#125 [BlackFormatter] Fix docs link
  blackformatter/info.json
Labels: Cog: BlackFormatter, bug, docs

#124 [Termino] V1.0.4 Rewrite and announcement channel
  termino/info.json
  termino/termino.py
Labels: Cog: Termino, enhancement

#126 [Raffle] Fix AttributeErrors and TypeErrors through SafeMember object
  raffle/helpers.py
  raffle/parser.py
Labels: Cog: Raffle, bug

#127 [Raffle] v1.5.2 Reformat pagination in raffle members command
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/helpers.py
  raffle/info.json
Labels: Cog: Raffle, enhancement

#128 [Raffle] Reformat menus and information in the raffle conditions command
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/enums.py
  raffle/formatting.py
  raffle/helpers.py
  raffle/info.json
Labels: Cog: Raffle, enhancement

#129 [Flags] Initial revision of the cog
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  README.rst
  docs/cog_flags.rst
  docs/index.rst
  docs/repo_available_cogs_list.rst
  flags/README.rst
  flags/__init__.py
  flags/flags.py
  flags/info.json
Labels: Category: Meta, Cog: Flags, docs

#130 [Flags] Use converter for arguments
  flags/converters.py
  flags/flags.py
  flags/functions.py
Labels: Cog: Flags, enhancement

#131 [Raffle] v1.6.1 Use Converters to negate repetitive code
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/converters.py
  raffle/info.json
Labels: Cog: Raffle, enhancement

#132 [Raffle] v1.6.2 Utility File Cleanup
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/commands/management/misc.py
  raffle/info.json
  raffle/utils/checks.py
  raffle/utils/converters.py
  raffle/utils/enums.py
  raffle/utils/exceptions.py
  raffle/utils/formatting.py
  raffle/utils/helpers.py
  raffle/utils/parser.py
  raffle/utils/safety.py
Labels: Cog: Raffle, enhancement
