Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-05, with the labels that each got.

#95 [Docs] Fix repo installation casing for AdvancedUptime
  advanceduptime/README.rst
  docs/cog_advanceduptime.rst
Labels: Cog: AdvancedUptime, Status: Accepted, Type: Docs

#94 [Dehoister] Add user blacklisting to various dehoister events and commands
  dehoister/dehoister.py
Labels: Cog: Dehoister, Status: Completed, Type: Enhancement

#97 [All Cogs] Add dev environment values on initialization
  advanceduptime/uptime.py
  alphanato/__init__.py
  alphanato/alphanato.py
  blackformatter/__init__.py
  blackformatter/black.py
  bubblewrap/__init__.py
  bubblewrap/bubblewrap.py
  codify/__init__.py
  codify/codify.py
  consoleclearer/__init__.py
  consoleclearer/consoleclearer.py
  dehoister/__init__.py
  dehoister/dehoister.py
  encryptor/__init__.py
  encryptor/encryptor.py
  githubskylines/__init__.py
  githubskylines/githubskylines.py
  locales/__init__.py
  locales/locales.py
  minifier/__init__.py
  minifier/minifier.py
  mjolnir/__init__.py
  mjolnir/mjolnir.py
  namegenerator/__init__.py
  namegenerator/names.py
  pinginvoke/__init__.py
  pinginvoke/pingi.py
  pingoverride/ping.py
  quotes/__init__.py
  quotes/quotes.py
  ram/__init__.py
  ram/ram.py
  roleboards/__init__.py
  roleboards/roleboards.py
  rpsls/__init__.py
  rpsls/rpsls.py
  sendcards/__init__.py
  sendcards/sendcards.py
  serverblock/__init__.py
  serverblock/serverblock.py
  spoilerchannel/__init__.py
  spoilerchannel/spoilerchannel.py
  staff/__init__.py
  staff/staff.py
  termino/termino.py
  textmanipulator/__init__.py
  textmanipulator/textmanipulator.py
  timestables/__init__.py
  timestables/timestables.py
  vinfo/__init__.py
  vinfo/vinfo.py
  votechannel/__init__.py
  votechannel/vote.py
Labels: Accepted, Cog: AdvancedUptime, Cog: AlphaNato, Cog: BubbleWrap, Cog: Codify, Cog: ConsoleClearer, Cog: Dehoister, Cog: Encryptor, Cog: GithubSkylines, Cog: Locales, Cog: Minifier, Cog: Mjolnir, Cog: NameGenerator, Cog: PingInvoke, Cog: PingOverride, Cog: Quotes, Cog: RPSLS, Cog: Ram, Cog: RoleBoards, Cog: SendCards, Cog: SpoilerChannel, Cog: Staff, Cog: Termino, Cog: TextManipulator, Cog: TimesTables, Cog: Vinfo, Cog: VoteChannel, Pending Changelog Entry, Type: Enhancement

#98 [Minifier] V0.1.2 Fix AttributeError
  minifier/minifier.py
Labels: Cog: Minifier, Passed, Pending Changelog Entry, Type: Bug

#100 Add some more info about the managed ll node
  vinfo/vinfo.py
Labels: Accepted, Cog: Vinfo, Pending Changelog Entry, Type: Enhancement
