Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-02, with the labels that each got.

#46 Remove test file
  githubwebhooktest.txt
Labels: Category: Repository, Passed

#47 [Repo] Repo-wide black checks
  .github/workflows/black.yml
  advanceduptime/uptime.py
  codify/__init__.py
  codify/codify.py
  dehoister/__init__.py
  dehoister/dehoister.py
  edition/__init__.py
  edition/edition.py
  namegenerator/__init__.py
  namegenerator/names.py
  pingoverride/ping.py
  ram/__init__.py
  ram/ram.py
  sendcards/__init__.py
  sendcards/sendcards.py
  staff/__init__.py
  staff/staff.py
  textmanipulator/__init__.py
  textmanipulator/textmanipulator.py
Labels: Admin, Category: Repository, Passed

#50 [PingOverride] Simplicity Changes
  pingoverride/ping.py
Labels: Cog: PingOverride, Enhancement, Passed

#51 Remove unused variable
  ram/ram.py
Labels: Cog: Ram

#53 [README] Add #support_othercogs as a way to get support
  README.rst
Labels: Category: Repository/Meta/Locales, Status: Passed, Type: Enhancement

#54 [README] Add docs link to README
  README.rst
Labels: Category: Meta, Doclog: Infeasible, Status: Passed, Type: Docs
