Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-07, with the labels that each got.

#133 [Meta] Remove Patreon
  .github/FUNDING.yml
Labels: Category: Meta, deprecation

#135 [Meta] Remove black linting
  .github/workflows/black.yml
Labels: Category: Meta, deprecation

#134 [RoleBoards] v3.0.0 Cog Rewrite using Menus
  docs/cog_roleboards.rst
  roleboards/README.rst
  roleboards/info.json
  roleboards/roleboards.py
Labels: Cog: RoleBoards, docs, enhancement

#139 [PingOverride] v3.0.0 Rewrite
  docs/cog_pingoverride.rst
  pingoverride/README.rst
  pingoverride/converters.py
  pingoverride/enums.py
  pingoverride/info.json
  pingoverride/objects.py
  pingoverride/ping.py
Labels: Cog: PingOverride, docs, enhancement

#143 [Raffle] v1.6.9 Add "suspense_timer" condition (condition #13)
  docs/cog_raffle.rst
  raffle/README.rst
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/management/events.py
  raffle/info.json
  raffle/utils/enums.py
  raffle/utils/parser.py
Labels: Cog: Raffle, docs, enhancement

#144 [Termino] V2.0.2 Better announcements
  .gitignore
  termino/log.py
  termino/mixins.py
  termino/termino.py
  termino/utils.py
Labels: Cog: Termino, enhancement

#147 [Raffle] v1.6.12 Improve raffle cleanup efficiency
  raffle/commands/builder.py
  raffle/commands/editor.py
  raffle/commands/informational.py
  raffle/commands/management/events.py
  raffle/commands/management/misc.py
  raffle/info.json
  raffle/raffle.py
  raffle/utils/cleanup.py
Labels: Cog: Raffle, enhancement

#148 [ConsoleClearer] Add owner-only checks
  consoleclearer/consoleclearer.py
Labels: Cog: ConsoleClearer, bug

#149 [Raffle] v1.7.0 Improve mixin and file structure
  raffle/commands/__init__.py
  raffle/commands/builder.py
  raffle/commands/editor/__init__.py
  raffle/commands/editor/allowed.py
  raffle/commands/editor/badges.py
  raffle/commands/editor/main.py
  raffle/commands/editor/prevented.py
  raffle/commands/editor/role_requirements.py
  raffle/commands/events.py
  raffle/commands/informational.py
  raffle/commands/management/locales/messages.pot
  raffle/commands/misc.py
  raffle/info.json
  raffle/raffle.py
Labels: Cog: Raffle, enhancement

#154 [Cogs.CSV] Grammar fixes :D
  cogs.csv
Labels: enhancement

#155 [Raffle] Fix deletion of instruction message
  raffle/commands/builder.py
Labels: bug

#159 [Meta] Removed various cogs and their documentation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  Makefile
  bubblewrap/README.rst
  bubblewrap/__init__.py
  bubblewrap/bubblewrap.py
  bubblewrap/info.json
  codify/README.rst
  codify/__init__.py
  codify/codify.py
  codify/info.json
  cogs.csv
  docs/cog_bubblewrap.rst
  docs/cog_codify.rst
  docs/cog_githubskylines.rst
  docs/cog_locales.rst
  docs/cog_ram.rst
  docs/cog_sendcards.rst
  docs/cog_serverblock.rst
  docs/index.rst
  githubskylines/README.rst
  githubskylines/__init__.py
  githubskylines/githubskylines.py
  githubskylines/info.json
  make.bat
  pyproject.toml
  ram/README.rst
  ram/__init__.py
  ram/info.json
  ram/ram.py
  sendcards/README.rst
  sendcards/__init__.py
  sendcards/info.json
  sendcards/sendcards.py
  serverblock/README.rst
  serverblock/__init__.py
  serverblock/info.json
  serverblock/serverblock.py
Labels: Category: Meta, Cog: BubbleWrap, Cog: Codify, Cog: GithubSkylines, Cog: Ram, Cog: SendCards, deprecation, docs
