Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-04, with the labels that each got.

#74 [RoleBoards] Basic touch ups
  roleboards/roleboards.py
Labels: Cog: RoleBoards, Status: Accepted, Type: Enhancement

#76 [Meta] Update ALL changelogs
  CHANGELOG.rst
  docs/changelog_vinfo.rst
  docs/cog_namegenerator.rst
  docs/repo_changelog.rst
  namegenerator/README.rst
  namegenerator/names.py
  vinfo/CHANGELOG.rst
Labels: Cog: NameGenerator, Status: Completed, Type: Docs

#75 [Meta] ConsoleClearer & Locales Cogs
  consoleclearer/CHANGELOG.rst
  consoleclearer/README.rst
  consoleclearer/__init__.py
  consoleclearer/consoleclearer.py
  consoleclearer/info.json
  docs/changelog_consoleclearer.rst
  docs/changelog_locales.rst
  docs/cog_consoleclearer.rst
  docs/cog_locales.rst
  docs/index.rst
  locales/CHANGELOG.rst
  locales/README.rst
  locales/__init__.py
  locales/info.json
  locales/locales.py
Labels: Status: Accepted, Type: Dev, Type: Docs

#77 [Termino] Add shutdown and restart if they exist
  termino/termino.py
Labels: Cog: Termino, Status: Completed, Type: Enhancement

#81 [Meta] Add Mjolnir Cog
  .github/labeler.yml
  .vscode/settings.json
  CODEOWNERS
  mjolnir/CHANGELOG.rst
  mjolnir/README.rst
  mjolnir/__init__.py
  mjolnir/info.json
  mjolnir/menus.py
  mjolnir/mjolnir.py
  roleboards/roleboards.py
Labels: Category: Meta, Cog: Mjolnir, Cog: RoleBoards, Status: Accepted, Type: Enhancement

#82 [Meta] Add SpoilerChannel cog
  docs/changelog_spoilerchannel.rst
  docs/cog_spoilerchannel.rst
  spoilerchannel/CHANGELOG.rst
  spoilerchannel/README.rst
  spoilerchannel/__init__.py
  spoilerchannel/info.json
  spoilerchannel/spoilerchannel.py
Labels: Type: Docs

#84 [Docs] Remove individual changelogs...
  docs/_deprecated/changelog_advanceduptime.rst
  docs/_deprecated/changelog_alphanato.rst
  docs/_deprecated/changelog_blackformatter.rst
  docs/_deprecated/changelog_bubblewrap.rst
  docs/_deprecated/changelog_codify.rst
  docs/_deprecated/changelog_consoleclearer.rst
  docs/_deprecated/changelog_dehoister.rst
  docs/_deprecated/changelog_githubskylines.rst
  docs/_deprecated/changelog_locales.rst
  docs/_deprecated/changelog_minifier.rst
  docs/_deprecated/changelog_mjolnir.rst
  docs/_deprecated/changelog_namegenerator.rst
  docs/_deprecated/changelog_pinginvoke.rst
  docs/_deprecated/changelog_pingoverride.rst
  docs/_deprecated/changelog_quotes.rst
  docs/_deprecated/changelog_ram.rst
  docs/_deprecated/changelog_roleboards.rst
  docs/_deprecated/changelog_rpsls.rst
  docs/_deprecated/changelog_sendcards.rst
  docs/_deprecated/changelog_serverblock.rst
  docs/_deprecated/changelog_spoilerchannel.rst
  docs/_deprecated/changelog_staff.rst
  docs/_deprecated/changelog_termino.rst
  docs/_deprecated/changelog_textmanipulator.rst
  docs/_deprecated/changelog_timestables.rst
  docs/_deprecated/changelog_vinfo.rst
  docs/_deprecated/changelog_votechannel.rst
  docs/changelog_advanceduptime.rst
  docs/changelog_alphanato.rst
  docs/changelog_blackformatter.rst
  docs/changelog_bubblewrap.rst
  docs/changelog_codify.rst
  docs/changelog_consoleclearer.rst
  docs/changelog_dehoister.rst
  docs/index.rst
  githubskylines/CHANGELOG.rst
  locales/CHANGELOG.rst
  minifier/CHANGELOG.rst
  mjolnir/CHANGELOG.rst
  namegenerator/CHANGELOG.rst
  pinginvoke/CHANGELOG.rst
  pingoverride/CHANGELOG.rst
  quotes/CHANGELOG.rst
  ram/CHANGELOG.rst
  roleboards/CHANGELOG.rst
  rpsls/CHANGELOG.rst
  sendcards/CHANGELOG.rst
  serverblock/CHANGELOG.rst
  spoilerchannel/CHANGELOG.rst
  staff/CHANGELOG.rst
  termino/CHANGELOG.rst
  textmanipulator/CHANGELOG.rst
  timestables/CHANGELOG.rst
  vinfo/CHANGELOG.rst
  votechannel/CHANGELOG.rst
Labels: Cog: AdvancedUptime, Cog: AlphaNato, Cog: BubbleWrap, Cog: Codify, Cog: ConsoleClearer, Cog: Dehoister, Cog: GithubSkylines, Cog: Locales, Cog: Minifier, Cog: Mjolnir, Cog: NameGenerator, Cog: PingInvoke, Cog: PingOverride, Cog: Quotes, Cog: RPSLS, Cog: Ram, Cog: RoleBoards, Cog: SendCards, Cog: SpoilerChannel, Cog: Staff, Cog: Termino, Cog: TextManipulator, Cog: TimesTables, Cog: Vinfo, Cog: VoteChannel, Status: Accepted, Type: Docs

#85 [Docs] Update changelogs for April
  CHANGELOG.rst
  docs/repo_changelog.rst
Labels: Type: Docs

#87 [Docs] Minor updates for new QA policies
  README.rst
  advanceduptime/README.rst
  alphanato/README.rst
  blackformatter/README.rst
  bubblewrap/README.rst
  codify/README.rst
  consoleclearer/README.rst
  dehoister/README.rst
  docs/cog_advanceduptime.rst
  docs/cog_alphanato.rst
  docs/cog_blackformatter.rst
  docs/cog_bubblewrap.rst
  docs/cog_codify.rst
  docs/cog_consoleclearer.rst
  docs/cog_dehoister.rst
  docs/cog_githubskylines.rst
  docs/cog_locales.rst
  docs/cog_minifier.rst
  docs/cog_mjolnir.rst
  docs/cog_namegenerator.rst
  docs/cog_pinginvoke.rst
  docs/cog_pingoverride.rst
  docs/cog_quotes.rst
  docs/cog_ram.rst
  docs/cog_roleboards.rst
  docs/cog_rpsls.rst
  docs/cog_sendcards.rst
  docs/cog_serverblock.rst
  docs/cog_spoilerchannel.rst
  docs/cog_staff.rst
  docs/cog_termino.rst
  docs/cog_textmanipulator.rst
  docs/cog_timestables.rst
  docs/cog_vinfo.rst
  docs/cog_votechannel.rst
  githubskylines/README.rst
  locales/README.rst
  minifier/README.rst
  mjolnir/README.rst
  namegenerator/README.rst
  pinginvoke/README.rst
  pingoverride/README.rst
  quotes/README.rst
  ram/README.rst
  roleboards/README.rst
  rpsls/README.rst
  sendcards/README.rst
  serverblock/README.rst
  spoilerchannel/README.rst
  staff/README.rst
  termino/README.rst
  textmanipulator/README.rst
  timestables/README.rst
  vinfo/README.rst
  votechannel/README.rst
Labels: Cog: AdvancedUptime, Cog: AlphaNato, Cog: BubbleWrap, Cog: Codify, Cog: ConsoleClearer, Cog: Dehoister, Cog: GithubSkylines, Cog: Locales, Cog: Minifier, Cog: Mjolnir, Cog: NameGenerator, Cog: PingInvoke, Cog: PingOverride, Cog: Quotes, Cog: RPSLS, Cog: Ram, Cog: RoleBoards, Cog: SendCards, Cog: SpoilerChannel, Cog: Staff, Cog: Termino, Cog: TextManipulator, Cog: TimesTables, Cog: Vinfo, Cog: VoteChannel, Type: Docs

#88 [SpoilerChannel] Break out of the loop
  CODEOWNERS
  spoilerchannel/spoilerchannel.py
Labels: Cog: SpoilerChannel, Status: Completed, Type: Bug

#90 Delete codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Status: Administrator, Type: Deprecation/Removal

#89 [Termino] Send message on restart
  termino/termino.py
Labels: Cog: Termino, Status: Requested Changes, Type: Enhancement
