Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-03, with the labels that each got.

#57 :aha:
  namegenerator/names.py
Labels: Cog: NameGenerator, Doclog: Bypassed, Status: Passed, Type: Bug

#59 [Meta] Update workflows and labels
  .github/labeler.yml
Labels: Category: Meta, Doclog: Pending, Status: Admin, Status: Passed, Type: Enhancement

#58 [Vinfo] Merge Cog into Master
  .github/CODEOWNERS
  CHANGELOG.rst
  docs/_v-cl.rst
  docs/index.rst
  docs/vinfo.rst
  vinfo/CHANGELOG.rst
  vinfo/README.rst
  vinfo/__init__.py
  vinfo/info.json
  vinfo/vinfo.py
Labels: Category: Meta, Cog: Vinfo, Doclog: Added, Status: Admin, Status: Passed, Type: Docs, Type: Enhancement

#60 Fixes `AttributeError` with distutils.sysconfig
  vinfo/vinfo.py
Labels: Cog: Vinfo, Doclog: Bypassed, Status: Passed, Type: Bug

#62 [Docs] Update Cls
  CHANGELOG.rst
  advanceduptime/CHANGELOG.rst
  dehoister/CHANGELOG.rst
  docs/_au-cl.rst
  docs/_dh-cl.rst
  docs/_v-cl.rst
  vinfo/CHANGELOG.rst
Labels: Cog: AdvancedUptime, Cog: Dehoister, Cog: Vinfo, Doclog: Infeasible, Status: Admin, Status: Passed, Type: Docs

#63 [Docs] Directory Restructure and Repository Changelog in Meta
  docs/changelog_advanceduptime.rst
  docs/changelog_bubblewrap.rst
  docs/changelog_codify.rst
  docs/changelog_dehoister.rst
  docs/changelog_namegenerator.rst
  docs/changelog_pinginvoke.rst
  docs/changelog_pingoverride.rst
  docs/changelog_ram.rst
  docs/changelog_sendcards.rst
  docs/changelog_staff.rst
  docs/changelog_textmanipulator.rst
  docs/changelog_timestables.rst
  docs/changelog_vinfo.rst
  docs/changelog_votechannel.rst
  docs/cog_advanceduptime.rst
  docs/cog_bubblewrap.rst
  docs/cog_codify.rst
  docs/cog_dehoister.rst
  docs/cog_namegenerator.rst
  docs/cog_pinginvoke.rst
  docs/cog_pingoverride.rst
  docs/cog_ram.rst
  docs/cog_sendcards.rst
  docs/cog_staff.rst
  docs/cog_textmanipulator.rst
  docs/cog_timestables.rst
  docs/cog_vinfo.rst
  docs/cog_votechannel.rst
  docs/image_repo_artwork.png
  docs/image_vinfo-cog.png
  docs/image_vinfo-mod.png
  docs/index.rst
  docs/repo_available_cogs_list.rst
  docs/repo_changelog.rst
  docs/repo_contributors.rst
  docs/repo_creds.rst
  docs/repo_installation.rst
  docs/repo_labels.rst
  docs/repo_license.rst
  docs/repo_milestones.rst
  docs/repo_support.rst
  docs/repo_workflow.rst
Labels: Doclog: Bypassed, Status: Admin, Status: Progress, Type: Docs

#64 [Meta] New Cog: ServerBlock
  docs/changelog_serverblock.rst
  docs/cog_serverblock.rst
  serverblock/CHANGELOG.rst
  serverblock/README.rst
  serverblock/__init__.py
  serverblock/info.json
  serverblock/serverblock.py
Labels: Doclog: Added, Status: Passed, Type: Dev, Type: Enhancement

#69 [Meta] Black and Minifier
  blackformatter/CHANGELOG.rst
  blackformatter/README.rst
  blackformatter/__init__.py
  blackformatter/black.py
  blackformatter/info.json
  docs/changelog_blackformatter.rst
  docs/changelog_minifier.rst
  docs/cog_blackformatter.rst
  docs/cog_minifier.rst
  docs/index.rst
  minifier/CHANGELOG.rst
  minifier/README.rst
  minifier/__init__.py
  minifier/info.json
  minifier/minified_example.py
  minifier/minifier.py
Labels: Doclog: Added, Status: Admin, Type: Dev, Type: Docs

#71 [Meta] New Cog: AlphaNato
  .github/labeler.yml
  CODEOWNERS
  alphanato/CHANGELOG.rst
  alphanato/README.rst
  alphanato/__init__.py
  alphanato/alphabet.py
  alphanato/alphanato.py
  alphanato/info.json
  docs/changelog_alphanato.rst
  docs/cog_alphanato.rst
  docs/image_alphanato-nato.png
  docs/index.rst
Labels: Category: Meta, Status: Processing, Type: Dev, Type: Docs, Type: Enhancement

#72 [Docs] Multiple updates (support, grammar, simplicity changes)
  CHANGELOG.rst
  README.rst
  advanceduptime/README.rst
  alphanato/README.rst
  blackformatter/README.rst
  bubblewrap/README.rst
  codify/README.rst
  dehoister/README.rst
  docs/cog_advanceduptime.rst
  docs/cog_alphanato.rst
  docs/cog_blackformatter.rst
  docs/cog_bubblewrap.rst
  docs/cog_codify.rst
  docs/cog_dehoister.rst
  docs/cog_minifier.rst
  docs/cog_namegenerator.rst
  docs/cog_pinginvoke.rst
  docs/cog_pingoverride.rst
  docs/cog_ram.rst
  docs/cog_sendcards.rst
  docs/cog_serverblock.rst
  docs/cog_staff.rst
  docs/cog_textmanipulator.rst
  docs/cog_timestables.rst
  docs/cog_vinfo.rst
  docs/cog_votechannel.rst
  docs/index.rst
  docs/repo_changelog.rst
  docs/repo_creds.rst
  docs/repo_installation.rst
  docs/repo_labels.rst
  docs/repo_milestones.rst
  docs/repo_support.rst
  docs/repo_workflow.rst
  minifier/README.rst
  namegenerator/README.rst
  pinginvoke/README.rst
  pingoverride/README.rst
  ram/README.rst
  sendcards/README.rst
  serverblock/README.rst
  staff/README.rst
  textmanipulator/README.rst
  timestables/README.rst
  vinfo/README.rst
  votechannel/README.rst
Labels: Cog: AdvancedUptime, Cog: AlphaNato, Cog: BubbleWrap, Cog: Codify, Cog: Dehoister, Cog: NameGenerator, Cog: PingInvoke, Cog: PingOverride, Cog: Ram, Cog: SendCards, Cog: Staff, Cog: TextManipulator, Cog: TimesTables, Cog: Vinfo, Cog: VoteChannel, Status: Blocked, Type: Docs
