Repository Kreusada/Kreusada-Cogs, pull requests merged in 2021-08, with the labels that each got.

#161 [Termino] Fix config migration
  termino/termino.py
Labels: Cog: Termino, bug

#163 [Raffle] v1.7.1 Add RaffleNameConverter for simple raffles
  raffle/commands/builder.py
  raffle/utils/converters.py
Labels: enhancement, bug

#165 [AdvancedUptime] v3.2.0 Add system uptime information as an optional setting
  advanceduptime/uptime.py
Labels: enhancement, Cog: AdvancedUptime

#166 Initial revision of the PyPi cog
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  CODEOWNERS
  cogs.csv
  make.bat
  ocs/info.json
  pypi/__init__.py
  pypi/info.json
  pypi/pypi.py
Labels: enhancement, Category: Meta, Cog: PyPi

#167 Initial revision of Captcha
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  CODEOWNERS
  captcha/__init__.py
  captcha/abc.py
  captcha/api.py
  captcha/base.py
  captcha/commands/__init__.py
  captcha/commands/global_settings.py
  captcha/commands/settings.py
  captcha/data/Alata-Regular.ttf
  captcha/data/Courgette-Regular.ttf
  captcha/data/ShadowsIntoLight-Regular.ttf
  captcha/errors.py
  captcha/events.py
  captcha/info.json
  captcha/informations.py
  captcha/utils.py
  cogs.csv
  pyproject.toml
Labels: enhancement, Category: Meta, Cog: Captcha

#168 [pypi] fix correct permission
  pypi/pypi.py
Labels: bug, Cog: PyPi

#169 [PyPi] Fix referencing errors
  pypi/pypi.py
Labels: Cog: PyPi

#170 [Raffle] Fix complex raffles from continuing with unbound variables after timeout
  raffle/commands/builder.py
Labels: bug

#172 [Captcha] Fix typo in captcha message
  captcha/api.py
Labels: bug, Cog: Captcha

#176 [QR] Initial revision of the Cog
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  cogs.csv
  qr/__init__.py
  qr/info.json
  qr/qr.py
Labels: enhancement, Category: Meta, Cog: QR

#178 [AdvancedUptime] v3.3.0 Add owner check to uptimeset
  advanceduptime/uptime.py
Labels: bug, Cog: AdvancedUptime
